# Application
DEBUG=False
PORT=8000
WORKERS=2

# Postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=postgres_password
POSTGRES_USER=postgres
POSTGRES_DB=pets_search_service
POSTGRES_HOST=pets-search-service-postgres

# Celery
CELERY_BROKER_URL = celery://celery

# Redis
REDIS_URL = redis://redis

# Minio
MINIO_ROOT_USER=miniousername
MINIO_ROOT_PASSWORD=miniopassword
MINIO_ENDPOINT=minio:9000